<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SCIENCE UPDATES</title>
  <link rel="stylesheet" type= "text/css" href="css/style.css">
</head>
  <body style= background-color:#57bc90>
<h1><span>Update Topics</span></h1>
<div class="box"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="center">
      <form id="align-left" action="/results" method="post"> 
        Phone Number:<br>
        <input type="text" name="number"><br>
        <br>
        <input type="checkbox" name="topics" value="Astronomy">Astronomy<br>
        <br>
        <input type="checkbox" name="topics" value="Biology">Biology<br>
        <br>
        <input type="checkbox" name="topics" value="Chemistry">Chemistry<br>
        <br>
        <input type="checkbox" name="topics" value="Computer Science">Computer Science<br>
        <br>
        <input type="checkbox" name="topics" value="Ecology">Ecology<br>
        <br>
        <input type="checkbox" name="topics" value="Medical">Medical<br>
        <br>
        <input type="checkbox" name="topics" value="Physics">Physics<br>
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
  <div id="center">
