<html>
  <head>
    <meta charset="UTF-8">
    <title>SCIENCE UPDATES</title>
    <link rel="stylesheet" type= "text/css" href="css/style.css">
  </head>
<body >
  <h3 id= "first_line"> Welcome to</h3>
  <h4 id= "second_line">Science Updates</h4>
  <p> A site where you can customize the types of
    science news you can read instead of searching
    through several sites. </p>
    <br>
    <br>
    <br>
  <form method="post" action="/middlepage">
    <input type="submit" value= "Enter Site">
  </form>
  </body>
</html>
