<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SCIENCE UPDATES</title>
  <link rel="stylesheet" type= "text/css" href="css/style.css">
</head>
  <body style= background-color:#57bc90>
<h1><span>Update Topics</span></h1>
<div class="box"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="center">
      <form id="align-left" action="/results" method="post">
        <!-- Phone Number:<br>
        <input type="text" name="number"><br> -->
        <br>
        <input type="checkbox" name="astronomy" value="astronomy">Astronomy<br>
        <br>
        <input type="checkbox" name="biology" value="biology">Biology<br>
        <br>
        <input type="checkbox" name="chemistry" value="chemistry">Chemistry<br>
        <br>
        <input type="checkbox" name="computer_science" value="computer_science">Computer Science<br>
        <br>
        <input type="checkbox" name="ecology" value="ecology">Ecology<br>
        <br>
        <input type="checkbox" name="medical" value="medical">Medical<br>
        <br>
        <input type="checkbox" name="physics" value="physics">Physics<br>
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
  </div>
