/*<style type="text/css">*/
#first_line {
  text-align: center;
  font-size: 600%;
  color: #4B4B4B;
}
#second_line {
  text-align: center;
  font-size: 600%;
  color: #4B4B4B;
}
body {
  text-align: center;
  font-family: bebas;
}
h1 {
  color: #4B4B4B;
  font-size: 400%;
  position: fixed;
  float: center;
  height: 19%;
  width: 100%;
  left: 0%;
  top: -5%;
  z-index: 100;
}
#align-left{
  text-align: left;
}

#center{
  text-align: center;
  font-size: 150%;
  width: 20%;
  margin: 0 auto;
  padding-left: 8%;
  color: #4B4B4B;
}

.box {
  background-color: #a5a5af;
  position: fixed;
  height: 21%;
  width: 100%;
  left: 0%;
  top: 0%;
}

input[type="submit"] {
  width: 50%;
  height: 20%;
  padding: 10%;
  background-color: #6898bf;
  margin: auto;
  text-align: center;
  font-size: 90%;
  font-family: bebas;
  color: #4B4B4B;
  border-style: solid;
  border-width: thick;
  border-color: #a5a5af
}
input[value="Enter Site"] {
  width: 40%;
  height: 10%;
  padding: 10%;
  background-color: #6898bf;
  margin: auto;
  text-align: justify;
  font-size: 300%;
  font-family: bebas;
  color: #4B4B4B;
  border-style: solid;
  border-width: thick;
  border-color: #a5a5af
}
#last_title {
  color: #4B4B4B;
  font-size: 600%;
  position: fixed;
  float: center;
  height: 19%;
  width: 100%;
  left: 0%;
  top: -25%;
  z-index: 100;

}
.box2 {
  background-color: #a5a5af;
  position: fixed;
  height: 30%;
  width: 100%;
  left: 0%;
  top: 0%;
}
/*</style>*/
